###
# frozen requirements DO NOT CHANGE
# To update this update 'primary-requirements.txt' then run ./entrypoint.sh pip_freeze
###
coverage
Django
hypothesis
psycopg2
ipdb
djangorestframework
markdown
uwsgi
django-extensions
Werkzeug
pyOpenSSL
pytz
xmltodict
defusedxml
lxml
requests
python-dateutil
geojson
pyxform
