autopep8
coverage
Django
django-attachments
django-extensions
django-filter
djangorestframework
django-reversion-compare
django-storages
dj_database_url
drf-extensions
fake-factory
flake8
hypothesis[django]
ipdb
jsonschema
markdown
psycopg2
requests
uwsgi
Werkzeug
